<div class="container search">
  <form [formGroup]="searchForm">
    <div class="input-group">
      <input formControlName="search" type="text" class="form-control" placeholder="User Name" aria-label="User Name" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" (click)="Search()">Search</button>
      </div>
    </div>
 </form>
 <p *ngIf="users">{{users?.total_count}} found </p>
  <div class="card-group" *ngIf="users">
    <ng-container *ngFor="let user of users.items">
      <app-user-card [UserInfo]='user'></app-user-card>
    </ng-container>
  </div>
  <button class="btn btn-outline-secondary" type="button" (click)="Previous()" *ngIf="users != null && users.total_count > 30">Previous</button>
  <button class="btn btn-outline-secondary" type="button" (click)="Next()" *ngIf="users != null && users.total_count > 30">Page {{Page + 1}}</button>
</div>
